* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
   
}
a:active{
    color: rgb(235, 105, 12);
}
.button{
    background-color: chartreuse;
    margin-top: 20px;
    padding: 5px;
    border: 3px dotted red;
    color: rgb(70, 55, 55);
    font-weight: 300;
    font-size: small;
}
.button:hover{
    background-color: rgb(54, 11, 229);
    color: rgb(241, 233, 233);
}

.clr{
    clear: both;
}



.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(236, 212, 212);
    text-transform: capitalize;
    text-align: justify;
    font-size: 1rem;
    border: 5px rgb(120, 14, 233) solid;
    padding: 100px;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 20px;


}
.box-1:hover{
    background-image:url(images/lighthand.jpg);
    color: yellow;
}
.box-1 h1 {
    text-align: center;
}

.box-2 {
    position: 70%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 5px double rgb(224, 18, 90);
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

}

.catagories {
    border: 3px solid rgb(53, 12, 215);
    font-family: sans-serif;
    font-weight: 400;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;

}


.catagories ul li {
    list-style: none;
    border-bottom: 2px dashed rgb(51, 44, 188);
    list-style-image: url(images/download.png);
}

.catagories h2{
    text-align: center;
    text-decoration: underline;
    
}
.my-form{
    margin-top: 20px;
}
.my-form .form-group{
   padding-bottom: 15px; 
}
.my-form input[type="text"],
.my-form textarea {
    padding: 5px;
    width: 100%;
}

.my-form input[type="email"],
.my-form textarea {
    padding: 5px;
    width: 100%;
}

.block{
    width: 33.3%;
    float: left;
    background-color: gray;
    color: rgb(240, 236, 246);
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid red;
    margin-top: 20px;
}
.main-block{
    width: 80%;
    float: left;
    margin-top: 20px;
    color: blue;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-align: justify;
   
}
.sidebar{
    width: 15%;
    float: right;
    margin-top: 20px;
    color: #0000ff;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid yellowgreen;
    text-align: justify;
}
.p-box{
    height: 400px;
    width: 500px;
    border: 1px solid rgb(219, 15, 15);
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
}
.p-box h1{
    position: absolute;
    top: 40px;
    left: 40px;
}
.block h1{
    font-size: 2;
}
.sidebar h2{
    font-size: 2vw;
    text-align: center;
}
.sidebar p{
    width: 100%;
    text-align: justify;
    font-size: 0.8vw;
}
.fix-me{
    position: fixed;
    bottom: 0px;
}
.my-list {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    list-style: square;

}
.my-list li:first-child {
    background-color: #bbbbdb;
}
.my-list li:last-child {
    background-color: #2e2e57;
}
.my-list li:nth-child(3) {
    background-color: #d12d8d;
}
.container-1{
    margin-top: 20px;
    display: flex;
}
.flex-box{
    padding: 10px;
    border: 1px solid rgb(224, 18, 90);
    text-align: center;
    padding-bottom: 10px;
    
}
.flex-box-1{
    padding: 10px;
    border: 1px solid rgb(224, 18, 90);
    text-align: center;
    padding-bottom: 10px;
}
.flex-box-2{
    padding: 10px;
    border: 1px solid rgb(224, 18, 90);
    text-align: center;
    padding-bottom: 10px;
}
.container-1 p{
    text-align: justify;
    padding: 10px;
    border: 2px solid rgb(162, 207, 12);
}

.p-box{
    justify-content: center;
}
.contant{
    margin: 30px;
    justify-content: space-around;
    display: flex;

}
.box1{
    height: 200px;
    width: 200px;
    background-color: violet;
    border: 3px double rgb(12, 1, 2);
    padding: 20px;
    font-size: 1rem;
   
    
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(207, 44, 207);
    border: 3px double rgb(7, 8, 7);
    padding: 20px;
}
.box2:hover {
    padding-top: 5%;
    background-color: #0000ff;
}


.box3{
    height: 200px;
    width: 200px;
    background-color: rgb(32, 212, 134);
    border: 3px double rgb(3, 16, 3);
    padding: 20px;
}
